html {
    background-color: lightgrey;
    text-align: center;
    margin: auto;
    font-family: 'Montserrat';
    font-style: normal; 
    font-weight: 800; 
}

body {
    background-color: white;
    margin: auto 25%;
    
}

h1 {
    color: #00a0df;
    
}

.meatless {
    height: 600px;
    width:  auto;
    background-color: darkgrey;
    margin: auto;
}

.banner {
    height: 100px;
    width:  auto;
    background-color:#00a0df;
    margin: auto;
    font-size: 250%;
    color: white;
}

h3, h4 {
    color: #00a0df;
}

p {
    color: grey;
}



.restaurants {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width:  auto;
    background-color: darkgrey;
    font-size: 150%;

}

.restaurant {
    padding: 10%;
}

.veggies {
    margin: 10px;
    color: white;
    background-color:#00a0df;
    height: 75px;
    width: 300px;
    font-size: 20px;
}

.code {
    margin: 10px;
    border: solid #00a0df;
    background-color: white;
    color: #00a0df;
    height: 75px;
    width: 300px;
    font-size: 20px;

}

footer {
    background-color: lightgrey;
    margin: auto;

}